[submodule "developers.naver"]
	path = developers.naver
	url = https://github.com/reeyounghyun/developers.naver.git
[submodule "tiffany.Korean"]
	path = tiffany.Korean
	url = https://github.com/reeyounghyun/tiffany.Korean.git
